body{
    background-color: #00748f;
    font-family: 'PT Sans', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    padding: 5;
    height: 700px;
    width: auto;
}
.field{
    float: left;
    display: flex;
}
.inputs{
    display: flex;
    padding: 5px;
    height: 80px;
    width: 300px;
    margin: 0px 180px;
    font-size: 30px;
    text-align: center;
    
}
.btn{
    display: flex;
    height: 80px;
    padding: 5px;
    background: beige;
    font-size: 30px;
}
#price-post-interest{
    line-height: 9px;
    font-size: 30px;
    padding: 30px;
}
.btn223{
    display: flex;
    align-self: flex-end;
}
.op{
    display: flex;
    align-self: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}