body{
    background-color: #55ac8f;
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;
}
.container{
    display: flex;
    justify-content: center;
    padding: 5;
    margin: 6rem 0rem;
    width: 100%;
}
.field{
    float: left;
    display: flex;
}
.inputs{
    display: flex;
    padding: 5px;
    height: 80px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    
}
.btn{
    display: flex;
    height: 80px;
    padding: 5px;
    background: beige;
    font-size: 30px;
}
#price-post-interest{
    line-height: 9px;
    font-size: 30px;
    padding: 30px;
}
.btn223{
    display: flex;
    justify-content: center;
}
.op{
    display: flex;
    align-self: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}

#price{
    margin-right: 3rem;
}

@media screen and (max-width:600px){
    .input, .btn, .container, .field, .op, .btn223, .inputs{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 5;
        width: 100%;
    }

    #price{
        margin-bottom: 1rem;
    }

}